<button type="button" (click)="setHabilitar()"
  class="btn btn-primary my-3">{{habilitar==true? 'Ocultar': 'Mostrar'}}</button>
<div class="card bg-light mx-auto my-3" style="max-width: 40rem;">
  <div class="card-header">
    Mesas del restaurante
  </div>
  <div class="container">
    <div class="row my-3">
      <div class="col text-center">
        <h6>Mesa 1</h6>
        <a routerLink="/catproducto">
          <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
            class="img-thumbnail" alt="icono mesa">
        </a>
      </div><!-- imagen -->
      <div class="col text-center">
        <h6>Mesa 2</h6>
        <a routerLink="/catproducto">
          <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
            class="img-thumbnail" alt="icono mesa">
        </a>
      </div><!-- imagen -->
      <div class="col text-center">
        <h6>Mesa 3</h6>
        <a routerLink="/catproducto">
          <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
            class="img-thumbnail" alt="icono mesa">
        </a>
      </div><!-- imagen -->
      <div class="col text-center">
        <h6>Mesa 4</h6>
        <a routerLink="/catproducto">
          <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
            class="img-thumbnail" alt="icono mesa">
        </a>
      </div><!-- imagen -->
      <div class="col text-center">
        <h6>Mesa 5</h6>
        <a routerLink="/catproducto">
          <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
            class="img-thumbnail" alt="icono mesa">
        </a>
      </div><!-- imagen -->
    </div> <!-- mesas -->
    <div class="row my-3">
        <div class="col text-center">
          <h6>Mesa 6</h6>
          <a routerLink="/catproducto">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
              class="img-thumbnail" alt="icono mesa">
          </a>
        </div><!-- imagen -->
        <div class="col text-center">
          <h6>Mesa 7</h6>
          <a routerLink="/catproducto">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
              class="img-thumbnail" alt="icono mesa">
          </a>
        </div><!-- imagen -->
        <div class="col text-center">
          <h6>Mesa 8</h6>
          <a routerLink="/catproducto">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
              class="img-thumbnail" alt="icono mesa">
          </a>
        </div><!-- imagen -->
        <div class="col text-center">
          <h6>Mesa 9</h6>
          <a routerLink="/catproducto">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
              class="img-thumbnail" alt="icono mesa">
          </a>
        </div><!-- imagen -->
        <div class="col text-center">
          <h6>Mesa 10</h6>
          <a routerLink="/catproducto">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/restaurant-table-set-QJDnWn5-600.jpg"
              class="img-thumbnail" alt="icono mesa">
          </a>
        </div><!-- imagen -->
      </div> <!-- mesas -->
  </div>
</div>
