<div class="card bg-light mx-auto my-3" style="max-width: 40rem;">



  <div class="card-header">{{ titulo }}
    <button [routerLink]="['/catproducto']" type="button" class="btn btn-warning float-right btn-sm">Regresar</button>

  </div>
  <div class="card-body">

    <form class="needs-validation" novalidate>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="nombreProducto">Nombre del producto</label>
          <input type="text" class="form-control" id="nombreProducto" [(ngModel)]="product.nombre" name="nombre"
            required>
          <div class="invalid-feedback">
            Por favor complete el campo Nombre del producto
          </div>
        </div>
        <div class="col-md-6">
          <label for="precioProducto">Precio</label>
          <input type="number" class="form-control" id="precioProducto" [(ngModel)]="product.precio" name="precio"
            required>
          <div class="invalid-feedback">
            Por favor complete el campo Precio
          </div>
        </div>
        <div class="col-md-6">
          <label for="categoriaProducto">Categoria</label>
          <input type="number" class="form-control" id="categoriaProducto" [(ngModel)]="product.fkIdCategoria"
            name="categoria" required>
          <div class="invalid-feedback">
            Por favor complete el campo Precio
          </div>
        </div>
        <div class="col-md-6">

          <button class="btn btn-primary col-md-12 my-4 mx-auto" role="button" (click)='createProduct()'
            *ngIf="!product.id_producto else elseBlock">Crear</button>

          <ng-template #elseBlock>

            <button class="btn btn-primary col-md-12 my-4 mx-auto" role="button"
              (click)='updateProducto()'>Editar</button>
            
              <button class="bi bi-trash btn btn-danger  col-md-12" name="eliminarProducto"
                (click)='deleteProduct(product)'> Eliminar Producto</button>
          
          </ng-template>

        </div>
      </div>

  
    </form>

  </div>

</div>
