  <div class="card bg-light mb-3 mx-auto my-3" style="max-width: 40rem;">
    <div class="card-header">Gestión del menú</div>
    <div class="card-body text-secondary">
      
      <div class="list-group">
        <a [routerLink]="['/categorias/form']" class="list-group-item list-group-item-action alert-link">Agregar
          Categoria</a>
        <div class="mb-5" *ngFor="let producto of productos">
          <a [routerLink]="['/categorias/form', producto.id_categoria]"
            class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
            {{producto.nombre}}
            <span class="badge bg-info"> {{producto.id_categoria}}</span>
          </a>
          <div *ngFor="let subform of producto.listaProducto">
            <a [routerLink]="['/productos/form-producto', subform.id_producto]" name="editarProducto"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">{{subform.nombre}}
              <span class="badge bg-dark">$ {{subform.precio}}</span>
            </a>

          </div>
          <a [routerLink]="['/productos/form-producto']"
            class="list-group-item list-group-item-action list-group-item-dark" >Agregar Producto</a>
        </div>
      </div>


    </div>
  </div>
