<div class="card bg-light mx-auto my-3" style="max-width: 40rem;">

    <div class="card-header">{{ titulo }}
      <button class=" float-right btn btn-warning btn-sm" role="button" [routerLink]="['/catproducto']">Regresar</button>
    </div>
    <div class="card-body">
  
      <form class="needs-validation" novalidate>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="validationCustom01">Nombre de la categoría</label>
            <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="categoria.nombre" name="nombre"
              required>
            <div class="invalid-feedback">
              Por favor complete el campo "Nombre de la categoría"
            </div>
          </div>

          <div class="col-md-6">
            <button class="btn btn-primary col-md-12 my-4 mx-auto" role="button" (click)='create()' *ngIf="!categoria.id_categoria else elseBlock">Crear</button>
            
            <ng-template #elseBlock>
  
              <button class="bi bi-pencil-square btn btn-primary col-md-12 my-4 mx-auto" role="button" (click)='update()' > Editar</button>
            
              <button class="bi bi-trash btn btn-danger  col-md-12" name="eliminar" (click)='delete(categoria)'> Eliminar Categoría</button>
            </ng-template> 
          </div>

        </div>  
        
      </form> 
    </div>
  </div>
  